<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
  <title>Features</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css" crossorigin="anonymous">
</head>

<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>
<h1>This is features</h1>

<h2>File Upload Form</h2>
<form th:action="@{/upload}" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <br/><br/>
    <input type="submit" value="Upload" />
</form>
<p th:text="${message}"></p>

</body>

</html>