<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Profile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css" crossorigin="anonymous">
</head>

<body>

    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <h1 style="text-decoration: underline">Preservation Profile</h1>
    <a style="margin-left: 20px!important;" class="btn btn-primary" href="/features">Go back to features</a>
    <div style="display: flex;justify-content: center;">
        <pre th:text="${profileData}"></pre>
    </div>


</body>

</html>